<div class="information">
    <div class="info">
        <div>
            <img src="./image/Group.png">
            <p>{{ email }}</p>
        </div>
        <div>
            <img src="./image/Group (1).png">
            <p>+7 (777) 555 66 99</p>
        </div>
        <div>
            <img src="./image/placeholder.png">
            <p>Москва, Бульвар Ленина 33</p>
        </div>
    </div>

    <div class="link">
        <details>
            <summary><a href="#">Главная</a></summary>
        </details>
        <details>
            <summary><a href="#">Наши проекты</a></summary>
        </details>
        <details>
            <summary><a href="#">Наши услуги</a></summary>
        </details>
        <details>
            <summary><a href="#">Контакты</a></summary>
        </details>
    </div>

    <div class="project">
        <details>
            <summary><a href="#">РосНано</a></summary>
        </details>
        <details>
            <summary><a href="#">Сколково</a></summary>
        </details>
        <details>
            <summary><a href="#">Проект “Восток”</a></summary>
        </details>
        <details>
            <summary><a href="#">ТЭЦ Калининграда</a></summary>
        </details>
    </div>
    
    <div class="social-media">
        <details>
            <summary><a href="#">VK.com</a></summary>
        </details>
        <details>
            <summary><a href="#">Instagram</a></summary>
        </details>
        <details>
            <summary><a href="#">Facebook</a></summary>
        </details>
        <details>
            <summary><a href="#">Twitter</a></summary>
        </details>
    </div>    
</div>

<hr>

<p class="rights">(с) 2019. Все права защищены.</p>