<section class="information">
    <h2>Мы создаем мобильные приложения для крупных корпораций</h2>
    <p class="text">{{ text }}</p>

    <div class="frame">
        <div class="pillar">
            <img class="num1" src="./image/Ellipse (1).png">
            <img class="num2" src="./image/Ellipse.png">
            <img class="num3" src="./image/project.png">
            <h3>Создание сайтов</h3>
            <p>Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.</p>
        </div>
        <div class="pillar">
            <img class="num1" src="./image/Ellipse (1).png">
            <img class="num2" src="./image/Ellipse.png">
            <img class="num3" src="./image/project.png">
            <h3>Создание сайтов</h3>
            <p>Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.</p>
        </div>
        <div class="pillar">
            <img class="num1" src="./image/Ellipse (1).png">
            <img class="num2" src="./image/Ellipse.png">
            <img class="num3" src="./image/project.png">
            <h3>Создание сайтов</h3>
            <p>Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.</p>
        </div>
    </div>

    <a href="#">Все услуги</a>
</section>

<section class="standart">
    <div class="info">
        <div class="text">
            <h2>Высокие стандарты разработки</h2>
            <p>{{ text }}</p>
            <a href="#">Подробнее о компании</a>
        </div>

        <img src="./image/Rectangle 2.png">    
    </div>

    <hr>

    <div class="navigate">
        <div class="pillar">
            <img src="./image/web-programming.png">
            <h3>125</h3>
            <p>Our projects</p>
        </div>
        <div class="pillar">
            <img src="./image/web-programming.png">
            <h3>125</h3>
            <p>Our projects</p>
        </div>
        <div class="pillar">
            <img src="./image/web-programming.png">
            <h3>125</h3>
            <p>Our projects</p>
        </div>
        <div class="pillar">
            <img src="./image/web-programming.png">
            <h3>125</h3>
            <p>Our projects</p>
        </div>
        <div class="pillar">
            <img src="./image/web-programming.png">
            <h3>125</h3>
            <p>Our projects</p>
        </div>
    </div>
</section>

<section class="work">
    <h2>Наши работы, на которых мы специализируемся</h2>
    <a class="service" href="#">Все услуги</a>

    <div class="frame">
        <div class="pillar">
            <img src="./image/Rectangle 3.png"><br>
            <div>01.</div><h6>Исследование и упаковка</h6>
            <p>{{ text }}</p>
            <a href="#">Подробнее</a>
        </div>
        <div class="pillar">
            <img src="./image/Rectangle 3.png"><br>
            <div>01.</div><h6>Исследование и упаковка</h6>
            <p>{{ text }}</p>
            <a href="#">Подробнее</a>
        </div>
        <div class="pillar">
            <img src="./image/Rectangle 3.png"><br>
            <div>01.</div><h6>Исследование и упаковка</h6>
            <p>{{ text }}</p>
            <a href="#">Подробнее</a>
        </div>
    </div>
    <hr>
</section>