<section class="project">
    <h2>Наши проекты</h2>
    <p>{{ text }}</p>

    <div class="img">
        <img src="./image/Rectangle 4.png">
        <img src="./image/Rectangle 4.png">
        <img src="./image/Rectangle 4.png">
        <img src="./image/Rectangle 4.png">
    </div>

    <a href="#">Все проекты</a>
</section>

<section class="video">
    <img src="./image/Rectangle 6.png" class="bg">
    <h2>Видео о нашей работе</h2>
    <p class="txt">Просто посмотрите, как мы работаем</p>
    <img src="./image/Rectangle 5.png" class="vid">

    <div class="vector">
        <img src="./image/Vector.png">
        <p>Смотреть видео</p>
    </div>
    <hr>
</section>

<section class="subscription">
    <h2>Подпишитесь на нашу рассылку</h2>
    <p class="txt1">Полезные статьи, акции, новости - получите все это сейчас!</p>

    <input type="email" class="text" placeholder="Ваш e-mail">
    <button type="button" class="button">Подписаться</button>

    <p class="txt2">Мы не шлем спам, и передаем никому ваши данные.</p>
</section>